BODY { color: black; 
      font-size: 11px;  
      font-family: arial }
TABLE {color: black; 
      font-size: 11px;  
      font-family: arial }
#TOP_TEXT { color: black; 
      font-size: 12px;  
      font-family: arial }
#white_text {color: #ffffff; 
      font-size: 11px;  
      font-family: arial }
#red_sub {color: red; 
      font-size: 12px;  
      font-family: arial;
	  font-weight: bold
	  }
#blue_sub {color: blue; 
      font-size: 12px;  
      font-family: arial;
	  font-weight: bold
	  }

#TABLE2 {color: black; 
      font-size: 11px;  
      font-family: arial }
#col_titles {
		color: white;
		font-size: 18px;
		font-family: Arial;
		}
#small_form {
		font-size: 10px;
		}
td.coin_table {
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #bbbbbb;
	font-size: 12px;
	color: black;
		font-family: arial;
	align: center;
	padding: 2px 3px 1px 3px;
}

#NUMISTABLE {color: black; 
      font-size: 12px;  
      font-family: arial }

td.coin_table_head {
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #bbbbbb;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	background: #F2EED3;
	padding: 5px 3px 3px 3px;
}
#coin_table {float:left;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #bbbbbb;
	padding: 2px 3px 2px 3px;
}
.title_link {
font-size: 16px;
color: #0000ff;
font-weight: bold;
}
#red_title {
font-size: 16px;
color: #ff0000;
font-weight: bold;
}
.title_link_green {
font-size: 16px;
color: #009900;
font-weight: bold;
}
.title_link_green_2 {
font-size: 12px;
color: #009900;
font-weight: bold;
}
.title_link_red {
font-size: 16px;
color: #FF0000;
font-weight: bold;
}
#list_text {
font-size: 12px;
}
#canard_links {
text-decoration: none;
}
#LINKSUB {color: black; 
      font-size: 10px;  
	        font-family: arial }
#TITLE {color: black; 
      font-size: 17px; 
      font-family: arial }
#TITLE_RED {color: red; 
      font-size: 16px; 
      font-family: arial;
	font-weight: bold; }
#TOPTITLE {color: red; 
      font-size: 25px; 
      font-family: arial;
	  font-weight: bold}
#TOPSUB {display: block;
	color: #CA1019; 
	font-size: 17px; 
	font-weight: bold;
	padding-bottom: 10px;
	text-align: left;}
#BOTTOM {color: black; 
      font-size: 10px; 
      font-family: arial }
.class1 a:link {color: white; 
      font-size: 10px; 
      font-family: arial;
	  text-decoration: none}
.class1 a:visited {color: white; 
      font-size: 10px; 
      font-family: arial;
	  text-decoration: none}
.class1 a:hover {color: white; 
      font-size: 10px; 
      font-family: arial;
	  text-decoration: none}
.class2 a:link {
	  text-decoration: none;
	  color: #0000ff;
	  }
.class2 a:visited { 
      text-decoration: none;
	  color: #0000ff;
	  }
.class2 a:hover {
      text-decoration: underline;
	  color: #0000ff;
	 }

#about_age_vault {
	background-image: url('images/about-back.jpg');
	background-repeat: repeat-x;
	background-position: bottom left;
	margin: 0px 10px 0px 00px;
	padding: 20px 17px 20px 15px;
 	border: 1px solid #888;
}

#about_age_vault p {
	margin: 0px;
	font-size: 12px;
}

#about_age_vault ul {
	margin: 5px 0px 0px -5px;
	padding-left: 35px;
	list-style-image: url(/images/tiny-arrow.png);
	font-size:12px;
	line-height: 1.3;
	font-weight:bold;
}