/*	STYLING FOR ACCOUNT OVERLAYS */

/*	LOGIN AND LOGIN FORM REFER TO INITIAL OVERLAY
	NEW ACCOUNT AND ADD USER REFER TO SECONDARY OVERLAY

*/

#logIn, #newAccount {

	padding: 6em 0;
	position: absolute;
	height: 300%;
	width: 100%;
	background-color: rgba(0, 0, 0, .7);
	text-align: center;
	z-index: 1;
	
}

#instrument {
	display: block;
	margin: 1.75em auto;
	width: 28%;
}

#logInForm, #addUser {
	font-family: "Museo-sans", sans-serif;
	font-size: 1.5em;
	padding: 1em 0;
	color: white;
	background-color: rgba(10, 47, 69, .9);
	border-radius: .35em;
	margin: 0 20%;
	p{
		margin-bottom: -1em;
	}
	.addUserBtn{
		height: 1em;
		line-height: .5em;
		margin-bottom: 1em;
	}
}	
.noAcc {
	font-size: .5em;
}
	
.logInButton {
	background: $accept-color;
	border: none;
	display: block;
	font-size: .75em;
	margin: .75em auto;
}
.cancelLogIn {
	width: 2em;
	font-size: .5em;
}
.logUserName, .logPassword, #name, #email, #newPassword, #aboutYoubout, #aboutYou, #userAvatar{
	height: 3em;
	margin-bottom: 1em;
	width: 65%;
}













