body {
  margin: 0;
  margin-top: 2.4em; }

#login {
  z-index: 900;
  position: absolute;
  display: none;
  width: 100%;
  text-align: center;
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%; }

.top-navbar {
  background-color: #707070; }
  .top-navbar a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    margin-left: 1em; }
  .top-navbar #navBtn {
    font-size: 1.5em;
    padding: 0.5em; }
  .top-navbar .rightBtn {
    padding: 0.5em; }
  .top-navbar .active {
    background-color: #F79227; }

.bottom-navbar {
  text-align: center; }
  .bottom-navbar .storeLogo {
    background-color: red;
    color: white;
    padding: 2em; }
  .bottom-navbar .searches .or {
    display: inline; }
  .bottom-navbar .searches a {
    text-decoration: none;
    display: inline; }
    .bottom-navbar .searches a button {
      color: black; }
  .bottom-navbar p {
    font-size: 1.2em;
    margin-top: 0.75em;
    margin-bottom: 0; }
  .bottom-navbar input {
    margin-top: 1em; }
  .bottom-navbar button {
    margin-left: 0.5em; }
  .bottom-navbar #myLists {
    background-image: url("../images/down-arrow.png");
    height: 2em; }

.categoryTitle {
  text-align: left; }

#checkMark {
  height: 1em; }

.homeImg img {
  width: 60%;
  margin-left: 20%;
  margin-top: 3em; }

.right {
  float: right; }

.listContainer {
  margin: 2em;
  text-align: center; }

.each {
  margin-bottom: 1em;
  margin-top: 1em; }

.eachList {
  padding: 1em; }
  .eachList button {
    float: right; }
  .eachList .listContents {
    display: none; }

.xtraMargin {
  margin-top: 1em; }

.listItems {
  height: 14em;
  padding: 1em; }
  .listItems div {
    float: right; }

.toggler {
  display: none; }

.itemPic {
  height: 5em; }

.box-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.box-shadow--3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }

.box-shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.box-shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }

.box-shadow--8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.box-shadow--16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
